*.mp4
*.ini
*.data-00001-of-00002
*.data-00000-of-00002
Proyecto-ComidaMexicana/pesos/2-98-91/checkpoint
Proyecto-ComidaMexicana/pesos/1-99-94/checkpoint
Proyecto-ComidaMexicana/pesos/2-98-91/ckpt-1.index
Proyecto-ComidaMexicana/pesos/1-99-94/ckpt-80.index
